:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-content: center;    
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__box {
    margin: 0 6em;
}

.container__titulo-principal {
    font-size: 28px;
    font-weight: 700;
}

.container__img {
    margin: 1em 0 2em 0;
}

.container__btn {
    display: block;
    background-color: var(--botao-azul);
    text-decoration: none;
    color: var(--branco-principal);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.btn-transparente {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}


.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__img {
    width: 80%;
    margin-left: 1em;
}

.container__descricao {
    padding: 2em;
}

.container__titulo {
    line-height: 1.5;
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}

.container__texto {
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza-secundario);
}

.btn-secundario {
    display: inline-block;
    padding-top: .8em;
    margin-top: 1em;
}